BASE_URL=

ADMIN_EMAIL=
ADMIN_PASSWORD=

MANAGER_EMAIL=
MANAGER_PASSWORD=

RECRUITER_EMAIL=
RECRUITER_PASSWORD=

VENDOR_EMAIL=
VENDOR_PASSWORD=

CANDIDATE_EMAIL=
CANDIDATE_PASSWORD=

BROWSER=chromium
HEADLESS=false
