# MockWin Playwright Framework Configuration Template

# Environment
ENV=qa

# Browser Supported: chrome , edge , firefox
BROWSER=chrome
HEADLESS=false
WORKERS=4
SLOW_MO=0

# B2B Company Portal
COMPANY_URL=

# B2C Candidate Portal
CANDIDATE_URL=

# Backend API
API_URL=

# Timeouts (milliseconds)
DEFAULT_TIMEOUT=30000
NAVIGATION_TIMEOUT=60000
EXPECT_TIMEOUT=10000

# Test Users

## Company Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

## Manager
MANAGER_EMAIL=
MANAGER_PASSWORD=

## Recruiter
RECRUITER_EMAIL=
RECRUITER_PASSWORD=

## Vendor
VENDOR_EMAIL=
VENDOR_PASSWORD=

## Candidate
CANDIDATE_EMAIL=
CANDIDATE_PASSWORD=

# Reports
SCREENSHOT_ON_FAILURE=true
VIDEO=retain-on-failure
TRACE=retain-on-failure

# Logging
LOG_LEVEL=info